@font-face {
    font-family: "iranYekan";
    src: url("/fonts/Iran-Yekan/Qs_Iranyekan.ttf");
}
@font-face {
    font-family: "iranYekan-2";
    src: url("/fonts/iran-yekan-2.woff");
}

@font-face {
    font-family: "BYekan";
    src: url("/fonts/B-Yekan/Yekan.ttf");
}

* {
    user-select: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: normal;
    list-style: none;
    text-decoration: none;
    font-size: 100%;
}

$color-1: #edf9e7;
$color-2: #ffffff;
$color-3: #428d42;
$color-4: #f5f5f5;
$color-5: #2c5b22;
$color-6: #286090;

html {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
}

button,
a {
    all: unset;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
        opacity: 1 !important;
        transform: scale(1.1);
    }
}

// Tools
.success {
    background-color: #6bb06b !important;
    color: white !important;
}
.warning {
    background-color: #e0a800 !important;
    color: white !important;
}

.danger {
    background-color: #c82333 !important ;
    color: white !important;
}

// Main Page Css Start

// Slick Arrows
.slick-slider {
    position: relative !important;
}
.slick-arrow {
    font-size: 3em;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    position: absolute;
    top: 45%;
    cursor: pointer;
    &:first-child {
        left: 0;
    }
    &:last-child {
        right: 0;
    }
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: iranYekan;
    background-color: $color-1;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // background: linear-gradient(180deg, transparent 0%, white 100%);
        z-index: -1;
    }

    iconify-icon {
        display: flex;
        align-self: center;
    }
}

.wrapper {
    width: 100%;
    max-width: 1400px;
    padding-top: 4em;
    padding: 2.5%;
    display: flex;
    flex-direction: column;

    .card {
        cursor: pointer;
    }

    .f-center {
        display: flex;
        align-items: center;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 2em;
        .left {
            display: flex;
            flex-direction: row-reverse;
            gap: 1rem;
            li {
                font-size: 0.8rem;
                padding-left: 1em;
                border-left: 0.05rem rgba(0, 0, 0, 0.1) solid;
                opacity: 0.9;
                height: 1.3rem;
                &:last-child {
                    border: none;
                }
            }
        }
        .right {
        }
    }
    header {
        background-color: white;
        box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
        border-radius: 20rem;
        justify-content: space-between;
        padding: 0 3em;
        position: relative;
        height: 5rem;

        .left {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 0.8rem;
            .item {
                border-left: 0.05rem black solid;
                padding-left: 0.8rem;
                &:last-child {
                    border: none;
                }
            }

            .shopping-cart {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.33rem;
                small {
                    font-family: BYekan;
                }
            }
            .favoriote {
            }
        }
        .mid {
            img {
                position: absolute;
                top: -75%;
                left: 40%;
                object-fit: contain;
                width: 15rem;
                height: 15rem;
                padding: 4em 2em;
                background-color: $color-4;
                border-radius: 50%;
                box-shadow: 0 0 1rem 0.05rem rgba(0, 0, 0, 0.05);
            }
        }
        .right {
            display: flex;
            flex-direction: row-reverse;
            gap: 0.7rem;
            .user {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                color: black;
                font-size: 0.85rem;
                font-weight: 600;
                border-left: 0.05rem rgba(0, 0, 0, 0.3) solid;
                padding-left: 0.7em;
                height: 1.1rem;
                align-self: center;
            }
            .delivery {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 0.5rem;
                font-weight: 600;
            }
        }
    }
    .bottom-nav {
        justify-content: space-between;
        width: 90%;
        background-color: $color-3;
        align-self: center;
        padding: 0.65em 4em;
        border-radius: 0 0 10rem 10rem;
        color: white;
        ul {
            display: flex;
            flex-direction: row-reverse;
            gap: 0.8rem;
            a {
                color: white;
                font-size: 0.8rem;
            }
        }
        .left {
        }
        .right {
        }
    }

    .intro {
        justify-content: space-around;
        padding-bottom: 5em;
        padding-top: 4em;
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1100px;
        align-self: center;
        color: $color-5;
        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h3 {
                max-width: 20rem;
                font-weight: lighter;
                line-height: 1.5;
                color: black;
            }
            h1 {
                font-size: 2rem;
                margin-top: 1rem;
            }
            p {
                margin-top: 1rem;
                border-right: 0.2rem $color-5 solid;
                padding-right: 1em;
            }
            .buttons {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 2rem;
                font-size: 0.85rem;
                a {
                    padding: 0.6em 1em;
                    border-radius: 10rem;
                }
                .more-info {
                    background-color: $color-3;
                    color: white;
                }
                .buy {
                    background-color: #f3f3f3;
                }
            }
        }
    }

    .article-one {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2em;
        gap: 2rem;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 1rem;
            position: relative;
        }
        a {
            font-size: 0.85rem;
            padding: 0.6em 1em;
            border-radius: 10rem;
        }
        .item {
            position: relative;
            .description {
                position: absolute;
                top: 1.7rem;
                left: 2rem;
                width: calc(100% - 4rem);
                height: calc(100% - 4rem);
                border: 0.2rem rgba(255, 255, 255, 0.353) solid;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 2em;
                padding-top: 5em;
                h3,
                h2 {
                    font-weight: normal;
                    opacity: 1;
                    color: rgb(116, 116, 116);
                }
                h1 {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                a {
                    color: white;
                    background-color: rgb(251, 180, 125);
                    margin-top: 1rem;
                }
            }
        }
        .left {
            a {
                background-color: $color-3 !important;
            }
        }
    }

    .categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(14rem, 100%), 1fr));
        place-content: center;
        align-content: center;
        gap: 2rem;
        padding: 2em;
        .cat {
            position: relative;
            img {
                width: 100%;
                border-radius: 0.8rem;
                object-fit: cover;
            }
            .title {
                opacity: 1;
                bottom: 0;
                position: absolute;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: white;
                gap: 1rem;
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s ease;
                opacity: 1;
                border-radius: 0 0 1rem 1rem;
                max-height: max-content;
                h1 {
                    transform: translateY(66%);
                    transition: all 0.5s ease;
                }
                a {
                    background-color: $color-3;
                    color: white;
                    padding: 0 1em;
                    transition: all 0.5s ease;
                    transform: scale(0);
                    opacity: 0;
                    border-radius: 0.2rem;
                }
            }
            &:hover {
                .title {
                    max-height: 20rem;
                    padding: 2em;
                    opacity: 1;
                    h1 {
                        transform: translateY(0%);
                    }
                    a {
                        background-color: $color-3;
                        color: white;
                        padding: 0 1em;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .todays-product {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .parallax-window {
            height: 40rem;
            background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
        }
        .title {
            position: absolute;
            width: 24rem;
            top: 0;
            background-color: rgb(255, 255, 255, 1);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2em;
            transform: translateY(100%);
            animation: slidesAnimation 1s forwards;
            gap: 1rem;
            opacity: 0;
            height: 100%;
            .title-header {
                font-size: 2rem;
                font-weight: bold;
            }
            .title-body {
                padding: 2em;
                text-align: right;
            }
            .title-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2em;
                gap: 1rem;
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    min-width: 15ch;
                    gap: 0.5rem;
                }
                .shopping-cart {
                    background-color: $color-3;
                    color: white;
                    padding: 0.4em 1em;
                    border-radius: 0.2rem;
                }
                .add-to-favoriote {
                    background-color: red;
                    color: white;
                    padding: 0.4em 1em;
                    border-radius: 0.2rem;
                }
            }
        }

        .slide {
            position: relative;
        }
    }

    .top-sales {
        background-color: $color-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 2em;
        gap: 2rem;
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 0.5rem 0.5rem 0 0;
            transition: all 0.5s ease;
        }
        .top-sales-header {
            text-align: center;
            font-size: 1.5rem;
            padding: 0.5em 1em;
            font-weight: bold;
        }
        .top-sales-body {
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-wrap: wrap;
            .card {
                background-color: white;
                flex-basis: min(14rem, 100%);
                border-radius: 0.5rem;
                box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.05);
                position: relative;
                overflow: hidden;
                &:hover {
                    .card-buttons {
                        transform: translateX(-5%);
                        opacity: 1;
                    }
                    img {
                        // opacity: 0.4;
                        transform: scale(1.1);
                    }
                }
                .card-body {
                    padding: 2em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    .price {
                        color: $color-3;
                        span {
                            font-family: "BYekan";
                        }
                    }
                }
                .card-buttons {
                    position: absolute;
                    bottom: 10rem;
                    left: 0;
                    transform: translateX(-100%);
                    opacity: 0;
                    width: 100%;
                    transition: all 1s ease;
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 0.3em;
                    a {
                        width: 50%;
                        font-size: 0.9rem;
                        padding: 0.3em 0.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                    }
                    .shopping-cart {
                        background-color: $color-3;
                        color: white;
                    }
                    .add-favoriote {
                        background-color: red;
                        color: white;
                    }
                }
            }
        }
    }

    .slick-prev {
        content: "12";
    }

    .recent-products {
        margin-top: 3rem;
        padding: 2em;
        background-color: white;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .recent-products-header {
            text-align: center;
            font-size: 1.5rem;
            padding: 1em 1em;
            font-weight: bold;
        }
        .recent-products-body {
            width: 100%;
            padding-bottom: 2em;
            .card {
                border-radius: 0.5rem;
                margin: 0.5rem;
                transition: all ease 0.5s;
                border-radius: 0.5rem;
                overflow: hidden;
                .card-header {
                    overflow: hidden;
                    img {
                        width: 100%;
                        border-radius: 0.5rem;
                        transition: all 0.5s ease;
                    }
                }
                .card-body {
                    background-color: rgba(0, 0, 0, 0.02);
                    padding: 0.4em;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    padding: 1em 1.5em;
                    padding-top: 0;
                    gap: 1rem;
                    border-radius: 0 0 1rem 1rem;
                    transition: background-color 0.5s ease;
                    * {
                        transition: all 0.5s ease;
                    }
                    .name {
                        text-align: center;
                        font-size: 1rem;
                        background-color: rgba(255, 255, 255, 1);
                        border-radius: 0 0 2rem 2rem;
                        padding: 0.4em 0;
                    }
                    .price {
                        color: black;
                        padding: 0.3em;
                        font-weight: bold;
                        gap: 0.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-family: "BYekan";
                            font-size: 1.4rem;
                            color: black;
                            padding: 0.2em 1em;
                            border-radius: 0.3rem;
                        }
                    }
                }
                .card-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    height: 0rem;
                    // height: 6rem;

                    overflow: hidden;
                    transition: all 0.5s ease;
                    transform: translateY(100%);
                    overflow: hidden;
                    background-color: transparent;
                    a {
                        gap: 0.5rem;
                        padding: 0.2em 1em;
                        border-radius: 0.3rem;
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 13ch;
                        overflow: hidden;
                        &:first-child {
                            background-color: #6bb06b;
                            color: white;
                        }
                        &:last-child {
                            border: 0.1rem solid red;
                            color: red;
                            opacity: 0.2;
                        }
                    }
                }
                &:hover {
                    background-color: white;
                    img {
                        transform: scale(1.05);
                    }
                    .card-buttons {
                        transform: translateY(0%);
                        height: 6rem;
                        max-height: 9999rem;
                    }
                    .card-body {
                        background-color: #6bb06b;
                        .price {
                            color: white;
                            * {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #6bb06b;
        border-radius: 0.5rem;
        color: white;
        padding: 7%;
        gap: 3rem;
        margin-top: 2rem;

        .social {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: end;
            align-items: flex-start;
            gap: 2rem;
            img {
                background-color: white;
                width: 10rem;
                height: 10rem;
                padding: 2em;
                object-fit: cover;
                border-radius: 0.5rem;
            }
            .contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100%;
                align-items: flex-end;
                justify-content: center;
                gap: 1rem;
                font-size: 1rem;
                span {
                    display: flex;
                    gap: 1rem;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 0.3em 1em;
                    border-radius: 0.2rem;
                    align-items: center;
                    h1 {
                    }
                }
                small {
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 0.4rem;
                    &::after {
                        content: " : ";
                    }
                    iconify-icon {
                    }
                }
                .media {
                    display: flex;
                    width: 100%;
                    justify-content: end;
                    gap: 1rem;
                    margin-top: 1rem;
                    font-size: 1.7rem;
                    padding-right: 1em;
                }
            }
        }
        .title {
            font-size: 1rem;
            text-align: right;
            line-height: 1.7;
        }
    }
}

// Main Page Css End

// Admin Panel Css Start
.wrapper-admin-panel {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 22rem;
    header {
        grid-column: -1/1;
        margin-top: 2rem;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em;
        border-radius: 100rem;
        box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);

        .left {
            display: flex;
        }
        .right {
            display: flex;
            flex-direction: row;

            .user {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                img {
                    width: 100%;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 0.1rem $color-3 solid;
                }
                .info {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    .name {
                        font-size: 1.3rem;
                        font-weight: bold;
                    }
                }
            }
        }
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding-left: 2em;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                color: white;
                padding: 0.5em 1em;
                border-radius: 0.3rem;
                min-width: 14ch;
                font-size: 0.8rem;
                opacity: 0.6;
                transition: all 0.5s ease;
                iconify-icon {
                    font-size: 1.3rem;
                }
                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
            .exit {
                background-color: red;
            }
            .main-page {
                background-color: #6bb06b;
            }
        }
    }

    main {
        margin: 2em 1rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2em 0;
        padding-top: 0;

        h1 {
            font-size: 1.5rem;
            text-align: end;
        }

        .create-buttons {
            padding: 2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-size: 1.5rem;
            }
            a {
                padding: 0.4em 1em;
                border-radius: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                iconify-icon {
                    font-size: 1.5rem;
                }
            }
        }
        table {
            background-color: #286090;
            color: white;
            padding: 2em;
            width: 100%;
            border-radius: 0.5rem;
            direction: rtl;
            box-shadow: 0rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);

            thead {
                color: black;
                background-color: rgb(255, 255, 255);
                border-radius: 0.3rem;
                th {
                    width: 10%;
                    padding: 0.5em;
                    font-size: 0.9rem;
                }
            }
            tbody {
                tr {
                    background-color: rgba(213, 220, 225, 0.1);
                }
                td {
                    padding: 2em 1em;
                    p {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: center;
                        text-align: center;
                        gap: 0.5rem;
                        max-width: 10rem;
                        max-height: 6rem;
                        overflow: auto;
                        a {
                            display: flex;
                            flex-direction: row-reverse;
                            gap: 0.5rem;
                            align-items: center;
                            justify-content: space-between;
                            min-width: 13ch;
                            padding: 0.3em 1em;
                            border-radius: 0.3rem;
                            font-size: 0.9rem;
                            color: white;
                            &:first-child {
                                background-color: red;
                            }
                        }

                        img {
                            width: 4rem;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .category-create {
            border-radius: 0.5rem;
            padding: 2em;
            h1 {
            }
        }
        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            direction: rtl;
            margin-top: 1rem;
            border-radius: 0.5rem;
            padding: 3em;
            background-color: $color-6;
            color: white;
            gap: 3rem;
            grid-row-gap: 2rem;
            justify-content: start;
            img {
                width: 5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
            .form-group {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                gap: 1rem;
                button,
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.2rem;
                    padding: 0.3em 1em;
                    min-width: 10ch;
                    font-size: 0.8rem;
                }
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    span {
                        width: max-content;
                        font-weight: bold;
                    }
                    input[type="file"] {
                        display: none;
                    }
                    input[type="text"] {
                        outline: none;
                        border: none;
                        min-width: min(15rem, 100%);
                        background-color: white;
                        border-radius: 0.3rem;
                        padding: 0.4em 0.3em;
                        font-size: 0.9rem;
                        font-family: "iranYekan";
                    }
                    small {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        gap: 0.5rem;
                        background-color: #286090;
                        padding: 0.3em 1em;
                        border-radius: 0.3rem;
                        transition: all 0.5s ease;
                        iconify-icon {
                            font-size: 2rem;
                        }
                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .side-bar {
        margin: 2em 2rem 2rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
        height: max-content;
        h1 {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-size: 1.5rem;
            gap: 0.5rem;
            // background-color: $color-6;
            background-color: white;
            padding: 1em;
            border-radius: 0.5rem 0.5rem 0 0;
            font-size: 1.3rem;
            iconify-icon {
                font-size: 1.9rem;
            }
        }
        ul {
            background-color: $color-6;
            border-radius: 0 0 0.5rem 0.5rem;
            padding: 2em;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 1rem;
        }
        a {
            color: white;
            padding: 0.3em 1em;
            transition: all 0.5s ease;
            border-radius: 0.3rem;
            &:hover {
                background-color: white;
                color: black;
            }
        }
        .selected {
            background-color: white;
            color: black;
        }
    }
}

@keyframes slidesAnimation {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
